body > .container-fluid {
	margin: 10px auto;
	width: 90%;
}

video {
	width: 100%;
}

ol li {
	position: relative;
            min-height: 120px;
}

li:hover .replayBtn {
	display: block;
}

.replayBtn {
    position: absolute;
    z-index: 1;
    left: 30px;
    width: 50px;
    top: 90px;
}

.mainClip img, .clearfix img {
    cursor: pointer;
}
#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
    width: 55%;
}

.search-box {
    width: 80%;
    border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}

.search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
}

.search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
}

.close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

#overlay {
  position: absolute; 
  top: 100px; 
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.3);
  width: 50%;
  padding: 10px 0;
  z-index: 2147483647;
}