<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<body>
<div class="container-fluid" ng-app="videoClipper" ng-controller="videoCtrl as controller">
	<div class="col-xs-12 col-md-6">
		<div class="videoClipperContainer">
			<h1>{{ pageTitle }}</h1>
			<div id="sticky-anchor"></div>
			<div id="sticky" class="videogular-container">
			    	<videogular vg-player-ready="onPlayerReady($API)" 
			    	 vg-theme="controller.config.theme.url"
			    	 vg-update-time="updateTime($currentTime, $duration)">
				<vg-media vg-src="controller.config.sources">
				</vg-media>
				<div id="overlay" ng-show="showCountDownTimer">Next clip will start in <span id="countDownTimer"></span></div>
			        <vg-controls>
			            <vg-play-pause-button ng-show="!isEditingClip"></vg-play-pause-button>
			            <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
			            <vg-scrub-bar ng-show="!isEditingClip">
			                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			            </vg-scrub-bar>
			            <vg-time-display ng-show="!isEditingClip">{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
			            <vg-time-display ng-show="isEditingClip">{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
			            <vg-playback-button></vg-playback-button>
			            <vg-volume>
			                <vg-mute-button></vg-mute-button>
			                <vg-volume-bar></vg-volume-bar>
			            </vg-volume>
			        </vg-controls>

			    	</videogular>			        
				<div class="menu" ng-show="!isEditingClip">
					<button type="button" class="btn btn-primary" ng-disabled="isCuttingClip || isEditingClip" ng-click="newClipperTimer()">Start Cut</button>
					<button type="button" class="btn btn-primary" ng-disabled="!isCuttingClip || isEditingClip" ng-click="stopClipperTimer()">Stop Cut</button>
				</div>
				<div class="formContainer">
				<h4 ng-show="!isEditingClip">Manual Add</h4>
				<span ng-show="isEditingClip">
					<p class="bg-warning">Edit Mode: Click play on the main video to enter "clipper" mode</p>
					<p class="bg-warning">Use left and right buttons on keyboard to navigate through clips</p>
					<input type="checkbox" name="autoPlayClips" value="0" ng-model="autoPlayClips" /> Auto Play Clips
					<h4>Update Clip Info</h4>
				</span>
				<form>
					<input placeholder="Clip Title" type="text" name="clipTitle" ng-model="clipTitle" /><br />
					<input placeholder="Start Time" type="text" name="startTime" ng-model="startTime" /><br />
					<input placeholder="End Time" type="text" name="stopTime" ng-model="stopTime" /><br />
					<div class="form-group">
					  <label for="comment">Tags:</label>
					  <textarea name="clipTags" ng-model="clipTags" placeholder="Comma separated list" class="form-control" rows="5" id="comment"></textarea>
					</div>

					<button type="submit" ng-click="manualAddClip()" ng-show="!isEditingClip" ng-disabled="invalidData" class="btn btn-primary">Save New Clip</button>
					<button type="submit" ng-click="updateClip([])" ng-show="isEditingClip" ng-disabled="invalidData" class="btn btn-primary">Update Clip</button>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="videoClipsContainer col-xs-6 col-md-4">
		<div id="videoClips">
			<div class="clearfix mainClip">
				<h2>MainClip</h2>
				<img src="media/media-poster.png" ng-click="playMainVideo(true);" width="275" border="0" />
			</div>
			<h1 ng-show="clips.length > 0">Clips</h1>
			<a href="#" ng-click="clearLocalStorageItems();" ng-show="clips.length > 0">Clear All Saved Clips</a>

			<div class="search-wrapper">
				<form>
				<input type="text" name="focus" required class="search-box" ng-model="clipTagSearchText" placeholder="Enter search term (tags)" />
					<button class="close-icon" ng-click="clipTagSearchText = ''"></button>
				</form>
			</div>

			<ol>
				<li class="clearfix {{ clip.class }}" ng-repeat="clip in clips | searchFilter | filter: clipTagSearchText ">
					<b>{{ clip.title }}</b> 
					(<a ng-click="editClip(clip)" href="#">Edit</a> | <a ng-click="removeClip(clip)" href="#">Delete</a>)<br />
					<span ng-show="!clip.isSaved">
						<input type="checkbox" name="saveClip" value="0" ng-click="saveClip(clip)" /> Save Clip
					</span>
					<div ng-show="clip.isSaved" class="bg-success">Saved</div>
					<div>{{ clip.startTime }} : {{ clip.stopTime }}<div>
					<img src="media/replay_button.png" ng-click="playClip(clip)" class="replayBtn" width="50" border="0" />
					<img src="{{ clip.imgSrc }}" ng-click="playClip(clip)" class="col-md-8" border="0" />
				</li>
			</ol>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
<script type="text/javascript" src="http://static.videogular.com/scripts/videogular/latest/videogular.js"></script>
<script type="text/javascript" src="http://static.videogular.com/scripts/controls/latest/vg-controls.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>